html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  background-size: cover;
  margin: 0;
}

.page-title {
  position: fixed;
  text-align: center;
  font-family: "Trebuchet MS";
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0px;
  padding: 10px;
  width: 100%;
  filter: blur(0px);
  transition: opacity 0.2s;
 -webkit-transition: opacity 0.2s;
 opacity: 0.2;
}

.page-title:hover{
     text-shadow: 3px 3px 3px #C9C9C9;
     opacity: 1;
}

.page-description {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Helvetica";
  font-size: 30px;
  margin: 0px;
  text-align: center;
  padding: 120px;
  color: #000;
  opacity: 0.9;
}


.parallax {
  background-image: url("/src/2.jpg");
  min-height: 1500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  height: 10px;
  margin: 0px auto 1500 auto;

}

li {
  float: left;
  list-style: none;
  margin: 5px 75px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000;
  text-align: center;
}
