html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  background-size: cover;
  margin: 0;
}

.page-title {
  position: fixed;
  text-align: center;
  font-family: "Trebuchet MS";
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0px;
  padding: 10px;
  width: 100%;
  transition: opacity 0.2s;
 -webkit-transition: opacity 0.2s;
 opacity: 0.2;
}
.page-title:hover{
     opacity: 1;
}
a:hover{
     text-shadow: 3px 3px 3px #C9C9C9;
     opacity: 1;
}

.page-description {

  font-family: "Helvetica";
  font-size: 30px;
  margin: 0px;
  text-align: center;
  padding: 120px;
  color: #000;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.3);
}
.parallax {
  background-image: url("/src/2.jpg");
  min-height: 1500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur{
     filter:blur(5px);
}
ul {
  height: 10px;
  margin: 0px auto 1500 auto;

}

a {
  float: left;
  list-style: none;
  margin: 0px 75px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000;
  text-align: center;
  text-decoration: none;


}


a[ id= "aboutMe" ]:target ~ #menuBar article.panel {
  -webkit-transform: translateY(0px);
  transform: translateY( 0px );
}

a[ id= "completedProjects" ]:target ~ #menuBar article.panel {
  -webkit-transform: translateY(-1400px);
  transform: translateY(-1400px);
}

a[ id= "projectsInProgress" ]:target ~ #menuBar article.panel {
  -webkit-transform: translateY(-1200px);
  transform: translateY(-1200px);
}

a[ id= "contactMe" ]:target ~ #menuBar article.panel {
  -webkit-transform: translateY(-1200px);
  transform: translateY(-1200px);
}

.panel {
  width: 100%;
  height: 0px; /* Your DIVs Height */
  z-index:0;
  -webkit-transform: translateZ( 0 );
  transform: translateZ( 0 );
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
